{erl_opts, [debug_info]}.
{deps, [
    recon,
    {reluplib,         ".*", {git, "https://github.com/posilva/reluplib.git",                  {tag, "1.0.0"}}}
]}.

{plugins, [rebar3_appup_plugin]}.

{provider_hooks, [
      {pre, [{compile, {appup, compile}}]},
      {pre, [{clean, {appup, clean}}]}
  ]}.

{relx, [{release, { relupapp, semver },
         [relupapp,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
